//main: ../style.scss

p {
  font-size: 0.88rem !important;
  font-weight: 400 !important;
  margin-bottom: 1.56rem !important;
  line-height: 24px !important;
}

.display-1 {
  font-weight: 300 !important;
  color: $white !important;
  margin-bottom: 1.31rem !important;
}

h3 {
  font-weight: 300 !important;
  color: $charcoal;
  margin-bottom: 1.88rem !important;
}
h4 {
  font-weight: 300 !important;
  color: $white;
  margin-bottom: 1.94rem !important;
}
h5 {
  color: $white;
  font-weight: 700 !important;
}
h6 {
  font-weight: 600;
  color: $slate-gray;
  margin-bottom: 1.81rem !important;
}

.p_small {
  font-size: 0.81rem;
  line-height: 24px;
  margin-bottom: 2.5rem;
}

.bgc {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.side-logo-container {
  position: absolute;
  transform: rotate(-90deg);
  .side-logo {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
    color: white;
  }
}
