//main: ../style.scss

p {
  font-size: 0.88rem !important;
  font-weight: 400 !important;
  margin-bottom: 1.56rem !important;
  line-height: 24px !important;

  @include media-breakpoint-down(md) {
    font-size: 0.95rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.84rem !important;
  }
}

.display-1 {
  font-weight: 300 !important;
  color: $white !important;
  margin-bottom: 1.31rem !important;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    &:after {
      transition: $transition-collapse;
      left: 100%;

      z-index: 10 !important;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 4rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size: 2rem !important;
  }
}

h3 {
  font-weight: 300 !important;
  color: $charcoal;
  margin-bottom: 1.88rem !important;

  @include media-breakpoint-down(md) {
    font-size: 2.6rem !important;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.7rem !important;
  }
}
h4 {
  font-weight: 300 !important;
  color: $white;
  margin-bottom: 1rem !important;
  line-height: 40px;

  @include media-breakpoint-down(md) {
    font-size: 2rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size: 1.4rem !important;
  }
}
h5 {
  color: $white;
  font-weight: 700 !important;

  @include media-breakpoint-down(md) {
    font-size: 0.95rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.8rem !important;
  }
}
h6 {
  font-weight: 600;
  color: $slate-gray;
  margin-bottom: 1.4rem !important;

  @include media-breakpoint-down(md) {
    font-size: 1rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.8rem !important;
  }
}

.p_small {
  font-size: 0.81rem;
  line-height: 24px;
  margin-bottom: 2.5rem;

  @include media-breakpoint-down(md) {
    font-size: 0.85rem;
    line-height: 29px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 0.78rem;
  }
}

.bgc {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.side-logo-container {
  position: absolute;
  transform: rotate(-90deg);
  .bolded {
    font-weight: 600 !important;
  }
  .side-logo {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.75rem;
    letter-spacing: 1.2;
    color: white;

    @include media-breakpoint-down(lg) {
      font-size: 0.8rem;
    }
  }

  @include media-breakpoint-down(lg) {
    left: -30px !important;
  }

  @include media-breakpoint-down(md) {
    left: -10px !important;
    display: none;
  }
}

// Side logo for other sections

.section-3,
.section-green,
.section-offer {
  position: relative;

  .side-logo-container {
    top: 180px;
  }
}

// Buttons

.btn_v1 {
  background-color: $green;
  border-radius: 3px;
  padding: 1.19em 1.88em;
  font-size: 0.81rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  margin-bottom: 1.25rem;
  cursor: pointer;

  &:hover {
    background-color: $purple !important;
  }
}

.btn_v2_gray {
  background-color: #e1e1e1;
  border-radius: 5px;
  padding: 0.5em 1.06em;
  font-size: 11px;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  margin-bottom: 1.44rem;
}

.btn_v2_purple {
  @extend .btn_v2_gray;
  background-color: $purple;
}

// Form

.input-group {
  .input-group-append {
  }
  input {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 100%;
  }
  .input-group-text {
    background-color: $green !important;
    color: $white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 1rem;
  }

  input,
  .input-group-text {
    border: none;
    padding: 1.1rem 1.2rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*----------- Arrow right -----------*/

.arrow-right {
  position: absolute;
  top: -1px;
  left: 114%;
  height: 20px;
  width: 90px;
  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    margin-top: -2.7px;
    margin-left: -1px;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    transform: rotate(-45deg);
    transition: 160ms ease-out 80ms;
  }
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 20px;
    height: 1px;
    background-color: $white;
    transition: 160ms ease-out 80ms;
  }
}

.arrow-container {
  position: relative;
}
