//main: ../style.scss

.test {
  color: red !important;
}

header {
  height: 100vh;
  background-image: url("../../assets/images/cover.jpg");
  position: relative;
  .logo {
    position: absolute;
    top: 56px;
    // margin-left: 0.94rem;
  }

  .iphone {
    position: absolute;
    top: 240px;
    right: 317px;
  }
}
