//main: ../style.scss

main {
  /*----------- Section 1 -----------*/

  .section-1 {
    margin-top: 110px;
    margin-bottom: 80px;
  }

  /*----------- Section Grid -----------*/

  .section-grid {
    .grid {
      display: grid;
      grid-template-columns: 1.05fr 1.05fr 1.2fr 0.8fr 0.8fr;
      // grid-auto-rows: 278px;

      .item {
        // border: 1px solid red;
        padding-top: 50px;
        padding-left: 38px;
        padding-bottom: 59px;

        .p_small {
          color: $white;
        }

        .wrapper {
          width: 301px;
        }

        cursor: pointer;
      }

      // Background Items

      .our,
      .sign,
      .start {
        z-index: 15 !important;
        .wrapper {
          z-index: 15 !important;
        }
        position: relative;
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          z-index: -2;
          left: 0;
          background-color: #091e28;
        }
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          opacity: 0.7;
          z-index: -1;
          left: 0;
          // background-color: #091e28;
          background-size: cover;
          background-position: center center;
        }
      }

      // Individiual items

      .design {
        background-color: $red;
      }

      .built {
        background-color: $dark-purple;
      }

      .our {
        &:after {
          background-image: url("../../assets/images/our.jpg");
        }
      }

      .how {
        grid-column: 4/6;
        background-color: $purple;
      }

      .perfect {
        background-color: $green;
      }

      .sign {
        grid-column: 1/3;
        &:after {
          background-image: url("../../assets/images/sign.jpg");
        }
      }

      .start {
        grid-column: span 2;
        &:after {
          background-image: url("../../assets/images/start.jpg");
        }
      }
    }
  }

  /*----------- Section 3 -----------*/

  .section-3 {
    position: relative;
    margin-top: 97px;
    margin-bottom: 160px;

    h3 {
      margin-bottom: 65px !important;
    }
  }
}
